[submodule ".vim/pack/plugin/start/vim-fugitive"]
	path = .vim/pack/plugin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugin/start/vim-commentary"]
	path = .vim/pack/plugin/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugin/start/vim-signify"]
	path = .vim/pack/plugin/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/plugin/start/vim-airline"]
	path = .vim/pack/plugin/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/pack/plugin/start/auto-pairs"]
	path = .vim/pack/plugin/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/plugin/start/nerdtree"]
	path = .vim/pack/plugin/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugin/start/vim-surround"]
	path = .vim/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugin/start/coc.nvim"]
	path = .vim/pack/plugin/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
  branch = release
[submodule ".vim/pack/plugin/start/emmet-vim"]
	path = .vim/pack/plugin/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/plugin/start/ultisnips"]
	path = .vim/pack/plugin/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/plugin/start/vim-snippets"]
	path = .vim/pack/plugin/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/plugin/start/targets.vim"]
	path = .vim/pack/plugin/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/pack/plugin/start/vim-polyglot"]
	path = .vim/pack/plugin/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugin/start/telescope.nvim"]
	path = .vim/pack/plugin/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".vim/pack/plugin/start/plenary.nvim"]
	path = .vim/pack/plugin/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".vim/pack/plugin/start/vim-unimpaired"]
	path = .vim/pack/plugin/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/plugin/start/copilot.vim"]
	path = .vim/pack/plugin/start/copilot.vim
	url = https://github.com/github/copilot.vim
